<!DOCTYPE html>
<html>
<head>
	<title></title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<h3>
        {{ todo.title }}    
      </h3>
      <a href="{{url_for('update_todo', todo_id=todo.id)}}" class="btn btn-success">Update</a>
      <a href="{{url_for('delete_todo', todo_id=todo.id)}}" class="btn btn-danger">Delete</a>
    
	</div>
   
</body>
</html>